<!-- Essential SEO -->
<meta name="description" content="{{ seodescription }}">
<meta name="keywords" content="{{ seokeywords }}">
<meta name="robots" content="{{ seorobots }}">

<!-- Open Graph (Facebook/LinkedIn) -->
<meta property="og:title" content="{{ fslintitle }}">
<meta property="og:description" content="{{ fslindescription }}">
<meta property="og:image" content="{{ fslinimage }}">
<meta property="og:url" content="{{ fslinurl | app }}">
<meta property="og:type" content="{{ fslintype }}">

<!-- Twitter Card -->
<meta name="twitter:card" content="{{ twicard }}">
<meta name="twitter:title" content="{{ twititle }}">
<meta name="twitter:description" content="{{ twidescription }}">
<meta name="twitter:image" content="{{ twiimage  }}">

