

    <div class="container-fluid pt-5">
        <div style="text-align: center;">
            <h2 class="section-title px-5"><span class="px-2">{{ title_product }}</span></h2>
        </div>
        <div class="row px-xl-5 pb-3" id="row-product" style="justify-content: center;">

        {% for product in name_component %}

           

            <div class="col-lg-3 col-md-6 col-sm-12  animate-on-scroll">
                <div class="card product-item border-0 mb-4">
                    {% if product.HasPromotions == true  %}
                    <div class="badge-sale">{{ product.promotionsActive.discount_value }} %</div>
                    {% endif %}
                    <div class="featured-tag">{{ title_product }}</div>
                    <div class="star-rating">
                        <i class="fas fa-star"></i> {{ product.averageRating | default(0) }}
                    </div>
                    
                    <div class="card-header bg-transparent border p-0">
                        <div class="image-container">
                            <img src="{% if product.image.path %}{{ product.image.path }}{% else %}{{ 'assets/img/file.jpeg' | theme }}{% endif %}"
                                 class="product-image">
                        </div>
                    </div>
                    
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{ product.name }}</h6>
                        <div class="d-flex justify-content-center product-flex position-relative ">
                          {% set activePrice = null %}
                            {% set previousPrice = null %}
                            
                            {% for price in product.prices %}
                                {% if price.status == true %}
                                    {% set activePrice = price %}
                                    {% if loop.index0 > 0 %}
                                        {% set previousPrice = product.prices[loop.index0 - 1] %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if activePrice %}
                            <h6 class="text-primary-product-custom" style="padding: 10px">{{ activePrice.price }}$</h6>
                            {% if previousPrice %}
                            <h6 class="text-muted ml-2" style="padding: 10px"><del>{{ previousPrice.price }}$</del></h6>
                            {% endif %}

                            {% endif %}


                        </div>
                    </div>
                    
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="detail/{{ product.slug }}" class="btn btn-custom btn-sm text-dark p-0">
                            <i class="fas fa-eye text-primary-product-custom mr-1"></i>{{ 'عرض التفاصيل' |_ }}
                        </a>
                        <a {% if user %} data-request="onAddToCart" data-request-flash data-request-data="product_id: {{ product.id }}" {% else %} href="/login" {% endif %} class="btn btn-custom btn-sm text-dark p-0">
                            <i class="fas fa-shopping-cart   mr-1"></i>{{ 'أضف إلى السلة' |_ }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    