
    <div class="jaber-nav-container">
        <a href="#section1" class="jaber-nav-btn" data-section="1" >
            <span class="jaber-nav-icon"><i class="fas fa-crown"></i></span>
            <span class="jaber-nav-text">الأفضل</span>
        </a>
        <a href="#section2" class="jaber-nav-btn" data-section="2" >
            <span class="jaber-nav-icon"><i class="fas fa-star"></i></span>
            <span class="jaber-nav-text">مميزة</span>
        </a>
        <a href="#section3" class="jaber-nav-btn" data-section="3">
            <span class="jaber-nav-icon"><i class="fas fa-gem"></i></span>
            <span class="jaber-nav-text">جديدة</span>
        </a>
        <a href="#section4" class="jaber-nav-btn" data-section="4">
            <span class="jaber-nav-icon"><i class="fas fa-medal"></i></span>
            <span class="jaber-nav-text">عالية الجودة</span>
        </a>
    </div>
