
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div style="text-align: center;">
                    <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">{{ 'ابقا على اطلاع دائم' }}</span></h2>
                    <p>{{ 'ابقى على اطلاع دائم بالأخبار والتحديثات' }}</p>
                </div>
                <form class="subscription-form" role="form" data-request="onSaveEmail" data-request-success="$('#email').val('');" data-request-flash>
                    <div class="input-group">
                        <input type="email" name="email" id="email" placeholder="{{ 'قم بالاشتراك ليصلك كل جديد' |_ }}" required class="form-control border-white p-4">
                        <div class="input-group-append">
                            <button type="submit" data-stripe-load-indicator class="btn btn-primary px-4">{{ 'أشترك' }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 