
           <div class="topbar-container">
        <div class="top-section">
            <div class="row">
                <div class="top-links">
                    <a href="/contact">{{ 'أسئلة شائعة' }}</a>
                    <span class="text-muted">|</span>
                    <a href="/contact">{{ 'قسم المساعدة' }}</a>
                    <span class="text-muted">|</span>
                   <a href="/teams">{{ 'فريق النظام' }}</a>
                </div>
                <div class="social-links">
                    <a href="https://www.facebook.com/share/18FmuUzTYk/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/venalos_shop?igsh=MWozcGk3N3NzODB1bg=="><i class="fab fa-instagram"></i></a>
                    <a href="https://wa.me/+963983138125"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        
        <div class="main-section">
            <div class="logo-container">
                <a href="/" class="logo">
                    <h1 class="logo-text"><span class="text-primary"></span>VEnalos</h1>
                    <div class="logo-badge">V</div>
                </a>
            </div>
            
            <div class="search-container">
                <form class="search-form" data-request="onSearchSuggestions" data-request-success="handleSearchResponse(data)" id="searchForm">
                  <div class="search-input-group">
                    <input 
                      type="text" 
                      class="form-control" 
                      id="searchInput"
                      name="search"
                      data-track-input
                      placeholder="ابحث عن منتج"
                      autocomplete="off">
                    <button type="submit" class="search-btn">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                
                  <div class="dropdown-menu"  id="searchSuggestions">
                   

                  </div>
                </form>
            </div>
            <div class="user-actions">

                <div class="offers-button-container">
                    <a href="/promotions" class="offers-btn">
                        <div class="offers-btn-content">
                            <i class="fas fa-gift offers-icon" style="color: green;"></i>
                            <span class="offers-text">{{ 'العروض' |_ }}</span>
                            <span class="offers-badge">
                                <span class="offers-count">{{ Store.getProductsShowHomePage|length }}</span>                    <span class="offers-label">عرض</span>
                            </span>
                        </div>
                        <div class="offers-shine"></div>
                    </a>
                </div>

                <a href="/shop" class="action-btn register-btn">
    <i class="fas fa-filter" style="padding: 2px;"></i>
  
</a>
            {% if user %}
                <a href="/checkout" class="action-btn cart-btn">
                    <i class="fas fa-check-circle" style="color: var(--primary-color);"></i>
                    <span class="badge-topbar">{{ Cart.getCountCartsCheckout }}</span>
                </a>

                <a href="/cart" class="action-btn cart-btn">
                    <i class="fas fa-shopping-cart" style="color: var(--primary-color);"></i>
                    <span class="badge-topbar" id="cart-count">{{ Cart.getCountCarts }}</span>
                </a>

                
                <a href="/my-account" class="action-btn" id='user_avatar_top'>
                    <img src=" {% if user.avatar.path %}{{ user.avatar.path }}{% else %}{{ 'assets/img/file.jpeg' | theme }}{% endif %}"  alt="الصورة غير متوفرة" class="user-avatar">
                </a>
                
                <a href="javascript:;" data-request="onLogout" data-request-data="redirect: '/login'" class="action-btn logout-btn">
                    <i class="fas fa-sign-out-alt" style="color: var(--danger-color);"></i>
                    <span class="action-text">{{ 'تسجيل الخروج' }}</span>
                </a>
               {% else %}
                
                
                <a href="/login" class="action-btn login-btn">
                    <i class="fas fa-sign-in-alt" style="color: var(--primary-color); padding: 2px;"></i>
                    <span class="action-text">{{ 'تسجيل دخول' }}</span>
                </a>

                   {% if social_login_links is defined and social_login_links is not empty %}
                    
                        {% for name, link in social_login_links %}
                            <a href="{{ link }}" class="action-btn register-btn">
                                <i class="fab fa-{{ name|lower }}" style=" padding: 2px;"></i>
                                <span class="action-text">{{ 'تسجيل دخول' }} {{ name }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}

                {% endif %}

                
            </div>
        </div>
    </div>





