<!DOCTYPE html>
<html lang="ar" dir='rtl'>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
        <title>{% placeholder page_title default %}{{ this.page.title }}{% endplaceholder %}</title>
        {% partial "meta/styles" %}
        {% partial "meta/seo" %}

       



     
        
        <title>فيكسو | متجر المنتجات النسائية - {% placeholder page_title default %}{{ this.page.title }}{% endplaceholder %}</title>
    </head>
    
    {% set pageId = this.page.id %}
    {% set pageTitle = this.page.title %}
    {% if pageId is empty %}
        {% set pageId = page.id %}
    {% endif %}
    {% if pageTitle is empty %}
        {% set pageTitle = 'الرئيسية' %}
    {% endif %}
    
    <body class="page-{{ pageId }} layout-{{ this.layout.id }} women-store simoo-theme">
      {# {% partial 'meta/loader-scrin' %} #}