title = "الصفحة الرئيسية"
url = "/"
layout = "default"
[localePicker]
[Store]
[session]
[Cart]
[sociallogin]
[PhoneNumberPopup]

==
<?php 


function onStart()
{
    $this->addCss('assets/css/btn-right-page.css');
   
}


?>
==

{% put head %}
{% partial 'meta/meta'  
seodescription='فيكسو ✨ متجرك الأول للمنتجات النسائية الفاخرة. اكتشفي أحدث صيحات الموضة، العطور، الإكسسوارات، ومنتجات العناية بالبشرة. تسوقي بأمان وتوصيل سريع لجميع أنحاء سوريا'
seokeywords='فيكسو, متجر نسائي, منتجات نسائية, موضة, أزياء, عطور, إكسسوارات, مكياج, عناية بالبشرة'
seorobots='index, follow'

fslintitle='فيكسو | متجر المنتجات النسائية الفاخرة'
fslindescription='تسوقي من فيكسو أحدث التشكيلات من الملابس، العطور، الإكسسوارات ومنتجات التجميل'
fslinimage='assets/img/file.jpeg'
fslinurl='/'
fslintype='website'


twicard='summary_large_image'
twititle='فيكسو - متجر المنتجات النسائية | تسوقي بأسلوبك'
twidescription='تشكيلة واسعة من الملابس، العطور، المكياج والإكسسوارات. توصيل مجاني للطلبات فوق'
twiimage='assets/img/file.jpeg'
%}
{% endput %}
{% partial 'site/bottom_nav' home=true %}
{% partial 'home/btn-right-page' home=true %}

{% partial 'home/topbar' %}
{% partial 'home/navbar' show_clouser=true %}
{% if Store.onGetProductsIsBest is not empty %} {% partial 'home/products' idsection="section1" title_product='أفضل المنتجات' name_component=Store.onGetProductsIsBest %} {% endif %}
{% if Store.onGetProductsIsFeatured is not empty %} {% partial 'home/products' idsection="section2" title_product='منتجات مميزة' name_component=Store.onGetProductsIsFeatured %} {% endif %}
{% if Store.onGetProductsNew is not empty %} {% partial 'home/products' idsection="section3" title_product='منتجات جديدة' name_component=Store.onGetProductsNew %} {% endif %}
{% if Store.onGetProductsIsTop is not empty %} {% partial 'home/products' idsection="section4" title_product='منتجات عالية الجودة' name_component=Store.onGetProductsIsTop %} {% endif %}
{% partial 'home/categories' %}
{% partial 'home/featured' %}



{% partial 'check_phone_number' %}



